<%- include('./partials/header.ejs') %>
<body>
  <div class="container">
      <hr>
      <% if (fileUploaded.length > 0) { %>
        <div class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <spam>O arquivo foi salvo com sucesso!</spam>
        </div>
      <% } %>

      <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file" id="file">
          <hr>
          <input type="submit" value="Upload" class="btn btn-success">
      </form>
  </div>
</body>
<%- include('./partials/footer.ejs') %>