<%- include('./partials/header.ejs') %>
<div class="container">
    <hr>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="file" aria-describedby="inputFile">
                <label class="custom-file-label" for="file">Selecione o arquivo</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-success" type="button" id="btnUpload">Button</button>
            </div>
        </div>
    </form>
</div>
<%- include('./partials/footer.ejs') %>